.erro-mensagem {
  background: #ffe5e5;
  border: 1px solid #ff5c5c;
  padding: 1rem;
  margin: 2rem;
  color: #b30000;
  border-radius: var(--radius);
  font-family: monospace;

  pre {
    margin: 0;
    white-space: pre-wrap;
  }
}